@font-face {
    font-family: "norse bold";
    src: url("./fonts/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

div.logo-container,
div.form-container {
    border: 1px solid blue;
    height: 100vh;
}

div.logo-container {
    background-image: url("./images/green-leaf-plant.jpg");
    background-size: cover;
    color: white;
    position: relative;
    flex: 1;
}

div.logo {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 10rem;
    display: flex;
    justify-content: center;
}

div.logo > image {
    width: auto;
    height: auto;
}

div.logo > h1 {
    font-family: "norse bold";
    font-size: 6rem;
    align-self: center;
}

div.credit {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}

div.credit a {
    color: white;
}

div.form-container {
    flex: 2;
}